.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

body {
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid: 'header' auto
          'nav' auto
          'footer' auto
        / 1fr;

}

@media (min-width: 40em) {
    body {
        grid: 'header header' auto
              'nav main' 1fr
              'nav footer' auto
            / 12em 1fr;

    }
}

header { grid-area: header; }
nav { grid-area: nav; }
main { grid-area: main; }
footer { grid-area: footer; }
