
main {
    margin: 0;
    padding: 0;
    width: 100%;
}
section {

}
body {
    font-family: "Futura", serif;
}


.description {
    color: white;
    background-color: rgb(43, 45, 48);
    padding: 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}


.descriptionsection {
    margin-top: 0;
}

@media (max-width: 500px) {
    .description {
        margin-left: 100px;
    }
}
.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}
.section2 {
    height: 100vh;
    left: 0;
    top: 0;
}
.button1 {
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 0;
    width: 150px;
    height: 30px;
    font-size: 19px;
    background-color: rgba(78, 130, 152, 0);
    border: none;
    color: white;
}
.button1:hover {
    color: #494990;
    cursor: pointer;
}
.header1andtext {
    margin-top: 100px;
    margin-left: 20%;

}
.headerKøbenhavn {
    font-size: 45px;
    max-font-size: 45px;
    margin-left: 30px;
}
.anbefaledeHeader {
    font-size: 45px;
}
h1 {
    font-size: 80px;
}
.section1 {
    height: 90vh;

}
.kommune {
    margin-top: 100px;
    margin-left: 10px;
    width: 200px;
    position: absolute;
}
.box1 {
    position: absolute;
    top: 70px;
    left: 15%;
    width: 30px;
    height: 92.5vh;
    background-color: #2f2f54;
}
.box2 {
    position: absolute;
    top: 70px;
    left: 15%;
    width: 85%;
    height: 30px;
    background-color: #2f2f54;
}
nav {
    background-color: rgb(43, 45, 48);
    top: 0;
    position: fixed;
    width: 100%;
    left: 0;
    height: 50px;
    z-index: 1;
}
ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}


li {
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: left;
}

@media (max-width: 500px) {
    ul {
        grid-template-rows: 1fr;
    }
    .section2 {
        height: 190vh;
    }
}

.attractionImage {
    width: 400px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0;
}
.attractionImage:hover {
    opacity: 0.2;
}
a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}
a:hover {
    color: #494990;
    cursor: pointer;
}

.moreInformation {
    color: #494990;
}
.attractionImage {
    max-width: 400px;
}
.grid-container{
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    padding: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #494990;
    color: white;
    padding: 1em 0;
}

@media (max-width: 1400px) {
    body {
        grid-auto-columns: 12em 1fr;
    }

    .kommune {
        display: none;
    }
}
@media (max-width: 1400px) {
    .headerKøbenhavn {
        font-size: 30px;
    }
    h1 {
        font-size: 50px;
    }
    .box1 {
        width: 10px;
        height: 91vh;
    }
    .box2 {
        height: 10px;
    }
}
